.vscode/**
.vscode-test/**
node_modules/
out/**
src/**
webpack.config.js
.gitignore
.gitattributes
.eslintignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/*.avi
**/*.mp4
