.vscode/**
.vscode-test/**
node_modules/
!node_modules/markdown_img_url_editor_rust/
out/**
src/**
webpack.config.js
.gitignore
.gitattributes
.eslintignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/*.avi
**/*.mp4
